{% extends "base.html" %}

{% block content %}
    
    {% for flag in flags %}
        <div>
            <p class="m-0">{{ flag.id }}:</p>
            <p class="m-0">{{ flag.flag }} - </p>
            <p class="m-0 difficulty">{{ flag.difficulty }}</p>
            <img src="{{ flag.image.url }}" alt="">

            {% if flag.difficulty < 0.5 %}
                <p>Im Special !</p>
            {% endif %}
        </div>
    {% endfor %}

    <button></button>

    <input type="number" name="" id="index" value=0>
    <button id="Increase">Increase</button>
    <button id="Decrease">Decrease</button>

{% endblock content %}

{% block postloadjs %}

    <script type="text/javascript">

        let Increase = document.getElementById('Increase');
        let Decrease = document.getElementById('Decrease');
        let difficulty = document.getElementsByClassName('difficulty');
        let index = document.getElementById('index').value;

        document.getElementById("index").addEventListener('change', doThing);

        function doThing(){
            index = document.getElementById('index').value;
        }

        Increase.addEventListener('click', function onClick(event) {

            difficulty[index].innerHTML = (difficulty[index].innerHTML * 1.01).toFixed(5)
            if (difficulty[index].innerHTML > 1) {
                difficulty[index].innerHTML = 1
            }
        });

        Decrease.addEventListener('click', function onClick(event) {

            difficulty[index].innerHTML = (difficulty[index].innerHTML * 0.99).toFixed(5)
            
        });

    </script>

{% endblock %}
